<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>e7d63c999a74dd11ef086421c5091289</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TellMeKH</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zalo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zalo-2977532204050727898</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1120362614821033</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak1120362614821033</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>soFTDDlG02nHOtvMOOgPKlIDT7FTiQ7xShfPdJ</string>
	<key>FacebookAppID</key>
	<string>1120362614821033</string>
	<key>FacebookDisplayName</key>
	<string>TellMe</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Chúng tôi cần bạn cho phép truy cập vào chức năng nghe.</string>
	<key>NSCameraUsageDescription</key>
	<string>Chúng tôi cần bạn cho phép truy cập vào Camera để quét mã QR. (We need your permission to open camera for QR code scanning).</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Chúng tôi cần bạn cho phép truy cập vào ví trí để sử dụng cho việc truyền tải vị trí khi di chuyển</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Chúng tôi cần bạn cho phép truy cập vào ví trí để sử dụng cho việc truyền tải vị trí khi di chuyển</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your message to user when the microphone is accessed for the first time</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Your message to user when the photo library is accessed for the first time</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Chúng tôi cần bạn cho phép truy cập vào thư viện ảnh để sử dụng làm ảnh đại diện. (We need your permission to open photo gallery for avatar usage).</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.vinamost.tellmecustomer.onesignal</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Averta-Regular.otf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>averta-regular.otf</string>
		<string>Averta-Bold.otf</string>
		<string>Averta-SemiBold.ttf</string>
		<string>AvenirNextRegular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
